
<script lang="ts">
  import { Button, Checkbox, Label, Helper, Input, Select, Tabs, TabItem } from 'flowbite-svelte';

  import { loginPerson, registerPerson } from '../lib/apiClient.js'
  let selectedPrefix;
  let selectedEmailLabel;

  // Ultimately, we should be getting these enums from a query to the API, but
  // for now, we'll just code the enums here.
  let prefixEnum = [
    {value:"Dr.", name: "Dr."},
    {value:"Mr.", name: "Mr."},
    {value:"Ms.", name: "Ms."},
    {value:"Miss", name: "Miss"},
    {value:"Mrs.", name: "Mrs."},
    {value:"Mx.", name: "Mx."}
  ];

  let emailLabelEnum = [
    {value: "home", name: "Home"},
    {value: "work", name: "Work"},
    {value: "other", name: "Other"}
  ];

  function handleLogin(event) {
    event.preventDefault()

    const data = new FormData(event.target)

    console.log({ data })

    loginPerson(data)
  }

  function handleRegistration(event) {
    event.preventDefault()

    const data = new FormData(event.target)

    const new_person_creds = Object.fromEntries(data.entries())

    console.log({ new_person_creds })

    registerPerson(new_person_creds)
  }

  // Add more form validation
  // Wire-up checkboxes in form
  // Add robust error handling, based on error codes from API response
  // Add new routes for successful form submission and email validation
  // Add new route for person's profile
  // Add new route for logged-in homepage view
</script>

<div class="home">
    <div class="landing-form">
        <Tabs>
            <TabItem open title="Login">
                <form on:submit={handleLogin}>
                    <div class="mb-6">
                        <Label for="username" class="mb-2">Username</Label>
                        <Input type="email" id="username" name="username" placeholder="your.email@example.com" required />
                    </div>
                    <div class="mb-6">
                        <Label for="password" class="mb-2">Password</Label>
                        <Input type="password" id="password" name="password" required />
                    </div>
                    <div class="mb-6">
                        <Checkbox type="checkbox" id="rememberDevice" name="rememberDevice">Remember me on this device
                        </Checkbox>
                    </div>
                    <div>
                        <Button type="submit" color="green">Login</Button>
                    </div>
                </form>
            </TabItem>
            <TabItem title="Register">
                <form on:submit={handleRegistration}>
                    <p style="margin-bottom: 20px"><span aria-label="required" style="color:red">*</span> marks a required field.</p>
                    <div class="mb-6">
                        <Label for="name_prefix" class="block mb-2">Prefix</Label>
                        <Select id="name_prefix" name="name_prefix" class="mt2" items={prefixEnum} bind:value={selectedPrefix} />
                    </div>
                    <div class="mb-6">
                        <Label for="name_first" class="block mb-2">First Name<span aria-label="required" style="color:red">*</span></Label>
                        <Input type="text" id="name_first" name="name_first" maxlength=30 required />
                    </div>
                    <div class="mb-6">
                        <Label for="name_last" class="block mb-2">Last Name<span aria-label="required" style="color:red">*</span></Label>
                        <Input type="text" id="name_last" name="name_last" maxlength=30 required />
                    </div>
                    <div class="mb-6">
                        <Label for="suffix" class="block mb-2">Suffix</Label>
                        <Input type="text" id="suffix" name="suffix" maxlength=8 />
                    </div>
                    <div class="mb-6">
                        <Label for="username" class="block mb-2">Username<span aria-label="required" style="color:red">*</span></Label>
                        <Input type="email" id="username" name="username" placeholder="your.email@example.com" required />
                        <Helper class="text-sm">Please use a valid email address.</Helper>
                    </div>
                    <div class="mb-6">
                        <Label for="email_label" class="block mb-2">Email Lable<span aria-label="required" style="color:red">*</span></Label>
                        <Select id="email_label" name="email_label" class="mt2" items={emailLabelEnum} bind:value={selectedEmailLabel} />
                    </div>
                    <div class="mb-6">
                        <Label for="password" class="block mb-2">Password<span aria-label="required" style="color:red">*</span></Label>
                        <Input type="password" id="password" name="password" maxlength=100 required />
                        <Helper class="text-sm">Password must be at least <b>16</b> characters long, and include at least <br />one upper-case<br />one lower-case<br />one digit<br />and one symbol</Helper>
                    </div>
                    <div class="mb-6">
                        <Label for="password2" class="block mb-2">Password (Again)<span aria-label="required" style="color:red">*</span></Label>
                        <Input type="password" id="password2" name="password2" required />
                    </div>
                    <div class="mb-6">
                        <Checkbox type="checkbox" id="termsAndConditions" name="termsAndConditions" required>I agree to the Terms & Conditions <span aria-label="required" style="color:red">*</span>
                        </Checkbox>
                    </div>
                    <div>
                        <Button type="submit" color="green">Register</Button>
                    </div>
                </form>
            </TabItem>
        </Tabs>
    </div>
</div>

<style type="text/css">
    .home {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .landing-form {
        min-width: 420px;
    }

</style>
